body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: url("bg.jpg") top center no-repeat;
  //background: linear-gradient(to top, #249e87,#69f5f8);
  background-size: cover;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(39, 61, 79, 0.65);
}
@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
  }
}

a {
  color: #21d3ff;
  text-decoration: none;
}

a:hover {
  color: #3fc2e6;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  position: relative;
}

#header {
  position: relative;
  width: 100%;
  padding: 100px 0;
}
#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#header h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
}
#header .countdown {
  margin-bottom: 80px;
}
#header .countdown div {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 10px 10px;
  width: 100px;
  padding: 15px 0;
  color: #fff;
  background: #fff2;
  box-shadow: 0 0 18px #0004;
}
#header .countdown div h3 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 15px;
}
#header .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 575px) {
  #header .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }
  #header .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  #header .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}
#header .subscribe {
  font-size: 15px;
  text-align: center;
}
#header .subscribe h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#header .subscribe .subscribe-form {
  min-width: 300px;
  margin-top: 10px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
}
#header .subscribe .subscribe-form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#header .subscribe .subscribe-form input[type=submit] {
  position: absolute;
  top: 0;
  right: -10px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #1fb0d4;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 50px 50px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#header .subscribe .subscribe-form input[type=submit]:hover {
  background: #22ae9c;
}

#header .social-links {
  margin-top: 40px;
}
#header .social-links a {
  font-size: 16px;
  color: #fff;
  margin: 0 3px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#header .social-links a i {
  line-height: 0;
}
#header .social-links a:hover {
  background: #1fb0d4;
  border-color: #1fb0d4;
}

section {
  padding: 60px 0;
  overflow: hidden;
  color:#fff;
}

.section-bg {
  background-color: #d8f7f3;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #1fb0d4;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-title p {
  margin-bottom: 0;
}

.about .icon-box {
  margin-bottom: 20px;
  text-align: center;
}
.about .icon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.about .icon i {
  color: #fff;
  font-size: 42px;
  line-height: 0;
}
.about .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
.about .title a {
  color: #fff;
  transition: 0.3s;
}
.about .description {
  line-height: 24px;
  font-size: 14px;
}

.contact .info {
  border-top: 3px solid #1fb0d4;
  border-bottom: 3px solid #1fb0d4;
  padding: 30px;
  background: rgba(255, 255, 255, 0.06);
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .info i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
}
.contact .info .email p {
  padding-top: 5px;
}
.contact .info .social-links {
  padding-left: 60px;
}
.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}
.contact .info .social-links a:hover {
  background: #1fb0d4;
  color: #fff;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #1fb0d4;
  color: #fff;
}
.contact .email-form {
  width: 100%;
  border-top: 3px solid #1fb0d4;
  border-bottom: 3px solid #1fb0d4;
  padding: 30px;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .email-form .form-group {
  padding-bottom: 8px;
}

.contact .email-form input, .contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .email-form input {
  height: 44px;
}
.contact .email-form textarea {
  padding: 10px 12px;
}
.contact .email-form button[type=submit] {
  background: #1fb0d4;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .email-form button[type=submit]:hover {
  background: #3fc2e6;
}

#footer {
  background: rgba(38, 55, 69, 0.4);
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  position: relative;
}
#footer .copyright {
  text-align: center;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  color: #3fc2e6;
}